footer,
.footer-container {
  padding: 0;
  margin: 0;
}

.footer {
  background-image: linear-gradient(to bottom, #1a315f, transparent 200px),
    url("https://asphalt9.assets.gameloft.com/assets/background_0046ce1c2c.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
  gap: 5vh;
}

.mini-logo {
  width: 10vh;
  height: auto;
  padding: 1vw;
}

.invert {
  filter: invert(100%);
}

.rights {
    width: 50vw;
    font-size: 1vw;
    padding-bottom: 10vh;
}

@media screen and (max-width: 768px) {
  .mini-logo {
    width: 10vw;
    height: auto;
    padding: 1vw;
  }
}
