* {
  cursor: url("../assets/cursor/cursor.cur"), auto;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

/* just use webkit for scrollbar :> lol gk niat utk pake buat semuanya */
::-webkit-scrollbar {
  width: 10px;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: black;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

.button,
.btn {
  font-weight: 800;
  font-size: 2vw;
  padding: 2vh;
  border: 3px solid grey;
  transition: all ease-in-out 0.5s;
  text-decoration: none;
  color: white;
  background-color: transparent;
}

.button:hover,
.btn:hover {
  border: 3px solid red;
  font-size: 2.2vw;
  transition: all ease-in-out 0.5s;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.underline-red {
  border-bottom: 0.5vw solid red;
  transition: 2s;
}

.parralax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.title {
  margin: 0;
  padding: 0;
  font-size: 5vw;
  font-weight: 900;
  color: white;
}

.second-title {
  font-size: 2vw;
  font-weight: 900;
  padding: 5px;
  margin: 0.3vw;
  color: white;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.subtitle-section {
  width: 40vw;
}

.subtitle {
  font-size: 1.5vw;
  font-weight: 300;
}

.text-center {
  text-align: center;
}

.scale {
  transition: 500ms;
}

.scale:hover {
  transition: 500ms;
  scale: 1.1;
}

.gap-2vw {
  gap: 2vw;
}

.ptb-1vw {
  padding: 1vw 0;
}

.text-red {
  color: red;
}

.bold {
  font-weight: 800;
}

