body {
    margin: 0;
    padding: 0;
    color: white;
}

.background-container {
    background-image: url("https://asphalt9.assets.gameloft.com/assets/bg_banner_desktop_v2_79125a46ce.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 20vh;
}

.back-logo {
    margin-top: 25vh;
    margin-bottom: 5vh;
    transition: 300ms;

}

