body {
    margin: 0;
    padding: 0;
    background-color: #123112;
}

.background-container {
    background-image: url("https://asphalt9.assets.gameloft.com/assets/bg_banner_desktop_v2_79125a46ce.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.back-logo {
    margin-bottom: 40vh;
    transition: 500ms;
}
