.navbar {
    padding: 20px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), #00000000);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    color: #333;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
}

.logo img {
    width: 90px;
    height: auto;
    transition: 1s;
}

img:hover {
    transition: 500ms;
    scale: 1.1;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-left: 40px;
}

.menu li a {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    color: white;
    transition: 0.5s;
}

.menu li a:hover {
    transition: 1s;
    font-size: 33px;
    /* border-bottom: 5px solid red; */
}

.menu li a:hover::before {
    border-bottom: 0px solid red;
    visibility: visible;
    transform: scaleX(1);
}

.active-navbar {
    border-bottom: 2px solid red;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .menu li {
        margin-left: 1.5vw; 
    }

    .menu li a {
        font-size: 3vw; 
    }

    .logo img {
        width: 10vw; 
        height: auto;
    }

    .container {
        flex-direction: column;
        transition: 2s;
    }

    .back-logo{
        width: 50vw;
        margin-bottom: 100px;
    }
}