.subs {
    padding: 2vw;
    background-image: linear-gradient(to bottom, #1a315f, #1a315f);
    width: 100%;
    display: flex;
    justify-content: center;
}

.subs-container {
    margin-top: 10vh;
    background-color: #1f1f1f;
    padding: 40px;
    border-radius: 15px;
    background-image: linear-gradient(to right, #314875, #092764);
    width: 50vw;
    max-width: 500px;
}

h1 {
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
    color: #ff4081;
    letter-spacing: 1.5px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    color: #FFFFFF;
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input,
select {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #2c2c2c;
    color: #fff;
    transition: border-color 0.3s;
}

input:focus,
select:focus {
    border-color: #ff4081;
}

input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #ff4081;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #e73370;
    transform: scale(1.05);
}

button:active {
    transform: scale(1);
}

.error {
    color: #ff4081;
    font-size: 12px;
    display: none;
    margin-top: 5px;
}

.terms {
    display: flex;
    align-items: center;
}

.terms label {
    margin: 0;
    display: inline;
    font-weight: normal;
}

.terms a {
    color: #ff4081;
    text-decoration: none;
}

.terms a:hover {
    text-decoration: underline;
}

.loading {
    display: none;
    text-align: center;
    font-size: 18px;
    color: #ff4081;
    margin-top: 20px;
}

.completion-message {
    display: none;
    text-align: center;
    font-size: 18px;
    color: #00c853;
    margin-top: 20px;
}
