.subs-container {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    width: 300px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #ff4081;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #2c2c2c;
    color: #fff;
}

input[type="checkbox"] {
    width: auto;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ff4081;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e73370;
}

.error {
    color: #ff4081;
    font-size: 12px;
    display: none;
}