<link rel="stylesheet" href="../../css/footer.css">

<div class="footer flex column space-between">
    <div class="footer-items">
        <p class="title">CONTACT US</p>    
    </div>
    <div class="footer-items">
        <a href="" class="btn">SIGN ME IN</a>
    </div>
    <div class="footer-items">
        <a href="https://github.com/MarvelCollin"><img class="mini-logo" src="../../assets/discord.png" alt=""></a>
        <a href="https://github.com/MarvelCollin"><img class="mini-logo invert" src="../../assets/github.png" alt=""></a>
    </div>
    <div class="footer-items subtitle text-center rights">
        © 2018 Gameloft. All Rights Reserved. Gameloft, the Gameloft logo and Asphalt are trademarks of Gameloft in the U.S. and/or other countries. All manufacturers, cars, names, brands and associated imagery featured in the Asphalt 9: Legends mobile game are trademarks and/or copyrighted materials of their respective owners.
    </div>
</div>