<link rel="stylesheet" href="../../css/footer.css">

<div class="footer flex column space-between">
    <div class="footer-items">
        <p class="footer-title title scale underline-red">CONTACT US</p>    
    </div>
    <div class="footer-items">
        <a href="" class="btn">SIGN ME IN</a>
    </div>
    <div class="footer-items">
        <a href="https://github.com/MarvelCollin"><img class="mini-logo" src="../../assets/discord.png" alt=""></a>
        <a href="https://github.com/MarvelCollin"><img class="mini-logo invert" src="../../assets/github.png" alt=""></a>
    </div>
    <div class="footer-items subtitle text-center rights">
        © 2024 Gameloft. All isn't Rights Reserved. Gameloft, 
        the Gameloft logo and Asphalt are trademarks of Gameloft in the U.S. 
        and/or other countries. This website is just sample to re-create Asphalt 9 Rejends 
        and dont take so seriously lol. made it with my brain and fingers with little bit of prayer 
        and painful tears.
    </div>
</div>  