<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esports</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="../assets/logo.png">
    <link rel="stylesheet" href="../../css/global.css">
    <link rel="stylesheet" href="../css/esport.css">
</head>

<body>
    <div class="extend-app"></div>

    <nav class="navbar">
        <div id="extend-navbar"></div>
    </nav>
    <div class="esport-header">
        <div class="video-container">
            <iframe
                src="https://www.youtube.com/embed/cIPTi0J8wio?autoplay=1&mute=1&loop=1&playlist=cIPTi0J8wio&controls=0&showinfo=0&modestbranding=1&iv_load_policy=3"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <div class="content">
                <p class="second-title content-title">JOIN US!</p>
                <a href="subcriptions.html" class="join-us">SIGN ME IN</a>
            </div>
        </div>
        <div class="body-container flex-center">
            <div class="carousel">
                <div class="carousel-container">
                    <div class="carousel-slide">
                        <img src="../assets/event/event1.webp" alt="Asphalt Esports Series">
                        <div class="event-details">
                            <h2>ASPHALT SSC TUATARA</h2>
                            <p>19th December 2020</p>
                            <div class="prize">$10,000</div>
                            <a href="subcriptions.html" class="watch-btn">WATCH FINALS</a>
                        </div>
                    </div>
                    <div class="carousel-slide">
                        <img src="../assets/event/event2.webp" alt="Lamborghini Revuelto Esports Challenge">
                        <div class="event-details">
                            <h2>KOERNIGSEGG REGERA ESPORT</h2>
                            <p>21st September 2023</p>
                            <div class="prize">$6,000</div>
                            <a href="subcriptions.html" class="watch-btn">WATCH FINALS</a>
                        </div>
                    </div>
                    <div class="carousel-slide">
                        <img src="../assets/event/event3.webp" alt="AP Snapdragon Mobile Open Season 3">
                        <div class="event-details">
                            <h2>KOREAN PARTY ESPORT</h2>
                            <p>7th July 2023</p>
                            <div class="prize">$15,000</div>
                            <a href="subcriptions.html" class="watch-btn">WATCH FINALS</a>
                        </div>
                    </div>
                    <div class="carousel-slide">
                        <img src="../assets/cars/C/BMW-30-CSL-Hommage.webp"
                            alt="EUR & MENA Snapdragon Mobile Open Season 3">
                        <div class="event-details">
                            <h2>EUR & MENA SNAPDRAGON MOBILE OPEN SEASON 3</h2>
                            <p>27th June 2023</p>
                            <div class="prize">$15,000</div>
                            <a href="subcriptions.html" class="watch-btn">WATCH FINALS</a>
                        </div>
                    </div>
                </div>
                <button class="prev">&#10094;</button>
                <button class="next">&#10095;</button>
            </div>
            <div class="stats-section">
                <h1 class="esport-title"><span class="text-red">ASPHALT ESPORT</span> IN NUMBERS</h1>
                <div class="stats-container">
                    <div class="stat-box">
                        <div class="stat-value">+270,000$</div>
                        <div class="stat-label">TOTAL PRIZES</div>
                        <div class="extra-info">Detailed information for Total Prizes</div>
                    </div>
                    <div class="stat-box">
                        <div class="stat-value">171</div>
                        <div class="stat-label">COUNTRIES</div>
                        <div class="extra-info">Detailed information for Countries</div>
                    </div>
                    <div class="stat-box">
                        <div class="stat-value">26</div>
                        <div class="stat-label">TOURNAMENTS</div>
                        <div class="extra-info">Detailed information for Tournaments</div>
                    </div>
                    <div class="stat-box">
                        <div class="stat-value">1,589,000</div>
                        <div class="stat-label">PARTICIPANTS</div>
                        <div class="extra-info">Detailed information for Participants</div>
                    </div>
                    <div class="stat-box">
                        <div class="stat-value">44,842,000</div>
                        <div class="stat-label">TOTAL RACES</div>
                        <div class="extra-info">Detailed information for Total Races</div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <div class="esport">
    </div>

    <footer class="footer-container">
        <div id="extend-footer"></div>
    </footer>


</body>
<script src="../js/home.js"></script>
<script src="../js/global.js"></script>
<script src="../js/esport.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        extend('components/navbar.html', 'extend-navbar', 'esport');
        extend('components/footer.html', 'extend-footer', 'esport');
    });

</script>

</html>