<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="icon" type="image/png" href="../assets/logo.png">
    <link rel="stylesheet" href="../../css/global.css">
</head>

<body>
    <div class="extend-app"></div>
    <nav class="navbar">
        <div id="extend-navbar"></div>
    </nav>
    <div class="background-container">
        <div id="jumbotron" class="jumbotron">
            <img class="back-logo moving" src="../assets/side-logo.png" alt="">
        </div>
        <div id="jumbotron" class="jumbotron">
            <a class="button">DOWNLOAD NOW</a>
        </div>
    </div>

    <div class="flex-center about">
        <div class="about-container">
            <div class="title-section">
                <p class="title">PLAY <br> <span class="underline-red">NOW!</span></p>
            </div>
            <div class="detailed-information">
                <p class="subtitle text-center">
                    Race with Binus University X Asphalt 9 Legends, driving on challenging tracks while competing with
                    other students to reach the finish line first! Showcase your racing skills, perform breathtaking
                    drifts, and use nitro to outpace your opponents.
                </p>
                
                <p class="second-title text-center">WATCH TRAILER</p>
                <iframe src="https://www.youtube.com/embed/4UwkS8ODFv0?si=NjZMFNKTjDQOfZl7"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>

                <p class="subtitle text-center">
                    Join online competitions with fellow Binus University students and players worldwide in intense multiplayer modes. With stunning graphics and responsive controls, Asphalt 9 Legends delivers an unforgettable racing experience for car enthusiasts.
                </p>
            </div>
        </div>
    </div>
</body>
<script src="../js/home.js"></script>
<script src="../js/global.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        extend('components/navbar.html', 'extend-navbar', 'home');
        extend('components/app.html', 'extend-app');
    });


    // parralax()

</script>

</html>