<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="../assets/logo.png">
    <link rel="stylesheet" href="../css/news.css">
    <link rel="stylesheet" href="../../css/global.css">
</head>

<body>
    <div class="extend-app"></div>

    <nav class="navbar">
        <div id="extend-navbar"></div>
    </nav>

    <div class="news flex-center">
        <div class="news-container">
            <div class="title title-section">
                <p>ASPHALT</p>
                <p class="text-red">NEWS</p>
            </div>
         

            <div class="news-inner" id="classS">
                <div class="card-section flex-center carousel flex">
                    <div class="card">
                        <a class="" href="">
                            <img src="../assets/cars/C/BMW-30-CSL-Hommage.webp" alt="">
                            <p class="card-title">GET CAR FOR FREE !</p>
                            <p>24.2.2024</p>
                            <p>Paragraphs are the building blocks of papers. Many students define paragraphs in terms of
                                length:
                                a paragraph is a group of at least five sentences, a paragraph is half a page long, etc.
                                In
                                reality, though, the unity and coherence of ideas among sentences is what constitutes a
                                paragraph. A paragraph is defined as “a group of sentences or a single sentence that
                                forms a
                                unit” (Lunsford and Connors 116). Length and appearance do not determine whether a
                                section in a
                                paper is a paragraph.</p>
                            <p>Read Duration : 30 Minutes</p>
                        </a>
                    </div>
                    <div class="card">
                        <a class="" href="">
                            <img src="../assets/cars/A/Nissan-GT-R-Nismo.webp" alt="">
                            <p class="card-title">NEW CAR ARRIVED, GET NOW !</p>
                            <p>20.2.2024</p>
                            <p>Paragraphs are the building blocks of papers. Many students define paragraphs in terms of
                                length:
                                a paragraph is a group of at least five sentences, a paragraph is half a page long, etc.
                                In
                                reality, though, the unity and coherence of ideas among sentences is what constitutes a
                                paragraph. A paragraph is defined as “a group of sentences or a single sentence that
                                forms a
                                unit” (Lunsford and Connors 116). Length and appearance do not determine whether a
                                section in a
                                paper is a paragraph.</p>
                            <p>Read Duration : 20 Minutes</p>
                        </a>
                    </div>
                    <div class="card">
                        <a class="" href="">
                            <img src="../assets/cars/S/Ferrari-FXX-K.webp" alt="">
                            <p class="card-title">REVAMP ASTON MARTIN VULCAN</p>
                            <p>10.2.2024</p>
                            <p>Paragraphs are the building blocks of papers. Many students define paragraphs in terms of
                                length:
                                a paragraph is a group of at least five sentences, a paragraph is half a page long, etc.
                                In
                                reality, though, the unity and coherence of ideas among sentences is what constitutes a
                                paragraph. A paragraph is defined as “a group of sentences or a single sentence that
                                forms a
                                unit” (Lunsford and Connors 116). Length and appearance do not determine whether a
                                section in a
                                paper is a paragraph.</p>
                            <p>Read Duration : 18 Minutes</p>
                        </a>
                    </div>
                    <div class="card">
                        <a class="" href="">
                            <img src="../assets/cars/A/Aston-Martin-Vulcan.webp" alt="">
                            <p class="card-title">MOVEVYCAR</p>
                            <p>2.1.2024</p>
                            <p>Paragraphs are the building blocks of papers. Many students define paragraphs in terms of
                                length:
                                a paragraph is a group of at least five sentences, a paragraph is half a page long, etc.
                                In
                                reality, though, the unity and coherence of ideas among sentences is what constitutes a
                                paragraph. A paragraph is defined as “a group of sentences or a single sentence that
                                forms a
                                unit” (Lunsford and Connors 116). Length and appearance do not determine whether a
                                section in a
                                paper is a paragraph.</p>
                            <p>Read Duration : 21 Minutes</p>
                        </a>
                    </div>
                    <div class="card">
                        <a class="" h=ref"">
                            <img src="../assets/cars/D/Lotus-Emira.webp" alt="">
                            <p class="card-title">GAME UPDATE 2.0.1 </p>
                            <p>24.2.2022</p>
                            <p>Paragraphs are the building blocks of papers. Many students define paragraphs in terms of
                                length:
                                a paragraph is a group of at least five sentences, a paragraph is half a page long, etc.
                                In
                                reality, though, the unity and coherence of ideas among sentences is what constitutes a
                                paragraph. A paragraph is defined as “a group of sentences or a single sentence that
                                forms a
                                unit” (Lunsford and Connors 116). Length and appearance do not determine whether a
                                section in a
                                paper is a paragraph.</p>
                            <p>Read Duration : 29 Minutes</p>
                        </a>
                    </div>
                    <div class="card">
                        <a class="" href="">
                            <img src="../assets/cars/B/Jaguar-F-Type-SVR.webp" alt="">
                            <p class="card-title">CAR EVENT 2024</p>
                            <p>24.2.2020</p>
                            <p>Paragraphs are the building blocks of papers. Many students define paragraphs in terms of
                                length:
                                a paragraph is a group of at least five sentences, a paragraph is half a page long, etc.
                                In
                                reality, though, the unity and coherence of ideas among sentences is what constitutes a
                                paragraph. A paragraph is defined as “a group of sentences or a single sentence that
                                forms a
                                unit” (Lunsford and Connors 116). Length and appearance do not determine whether a
                                section in a
                                paper is a paragraph.</p>
                            <p>Read Duration : 18 Minutes</p>
                        </a>
                    </div>
                </div>
                <div class="button-section  gap-2vw ptb-1vw">
                    <button class="btn">PREV</button>
                    <p id="info" class="second-title" hidden>a</p>
                    <button class="btn">NEXT</button>
                </div>
                <p class="title" id="index"></p>
            </div>
        </div>
    </div>

    <footer class="footer-container">
        <div id="extend-footer"></div>
    </footer>

</body>
<script src="../js/home.js"></script>
<script src="../js/carousels.js"></script>
<script src="../js/global.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        extend('components/navbar.html', 'extend-navbar', 'news');
        extend('components/footer.html', 'extend-footer', 'news');
    });
</script>

</html>