<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="../assets/logo.png">
    <link rel="stylesheet" href="../../css/global.css">
</head>
<body>
<div class="extend-app"></div>

<nav class="navbar">
    <div id="extend-navbar"></div>
</nav>

</body>
<script src="../js/home.js"></script>
<script src="../js/global.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        extend('components/navbar.html', 'ex    tend-navbar', 'news');
        extend('components/app.html', 'extend-app');
    });
</script>
</html>