<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="../assets/logo.png">
    <link rel="stylesheet" href="../../css/global.css">
    <link rel="stylesheet" href="../../css/products.css">
</head>
<body>
<div class="extend-app"></div>

<nav class="navbar">
    <div id="extend-navbar"></div>
</nav>

<div class="products">
    <div class="product-container">
        <p class="title">CLASS <span style="color:gold">S</span></p>
        <div class="product-section-inner">
            <div class="card-section flex-center">
                <div class="card ">
                    <img src="../assets/cars/A/Aston-Martin-Vulcan.webp" alt="">
                    <p class="text-center name"><span class="underline-red">FERRARI FXK K</span></p>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, dolor, numquam omnis possimus eveniet amet saepe molestias, quod nihil unde libero officiis illum odio enim! Doloremque accusantium et sequi sit.</p>
                </div>
                <div class="card">
                    <img src="../assets/cars/A/Ferrari-J50.webp" alt="">
                    <p class="text-center name"><span class="underline-red">FERRARI FXK K</span></p>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, dolor, numquam omnis possimus eveniet amet saepe molestias, quod nihil unde libero officiis illum odio enim! Doloremque accusantium et sequi sit.</p>
                </div>
                <div class="card ">
                    <img src="../assets/cars/A/Nissan-GT-R-Nismo.webp" alt="">
                    <p class="text-center name"><span class="underline-red">FERRARI FXK K</span></p>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, dolor, numquam omnis possimus eveniet amet saepe molestias, quod nihil unde libero officiis illum odio enim! Doloremque accusantium et sequi sit.</p>
                </div>
                <div class="card ">
                    <img src="../assets/cars/A/Nio-EP9.webp" alt="">
                    <p class="text-center name"><span class="underline-red">FERRARI FXK K</span></p>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, dolor, numquam omnis possimus eveniet amet saepe molestias, quod nihil unde libero officiis illum odio enim! Doloremque accusantium et sequi sit.</p>
                </div>
            </div>
            <div class="button-section flex-center gap-2vw ptb-1vw">
                <button class="btn">PREV</button>
                <button class="btn">NEXT</button>
            </div>
        </div>
    </div>
</div>




<footer class="footer-container">
    <div id="extend-footer"></div>
</footer>


</body>
<script src="../js/products.js"></script>
<script src="../js/global.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        extend('components/navbar.html', 'extend-navbar', 'products');
        extend('components/footer.html', 'extend-footer', 'products');
    });
</script>
</html>