<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="../assets/logo.png">
    <link rel="stylesheet" href="../../css/global.css">
    <link rel="stylesheet" href="../../css/products.css">
</head>

<body>
    <div class="extend-app"></div>

    <nav class="navbar">
        <div id="extend-navbar"></div>
    </nav>

    <div class="products">
        <div class="product-container">
            <!-- Class S -->
            <p class="title">CLASS <span style="color:gold">S</span></p>
            <div class="product-section-inner" id="classS">
                <div class="card-section flex-center carousel">
                    <!-- Cards for Class S -->
                    <div class="card">
                        <img src="../assets/cars/S/Ferrari-FXX-K.webp" alt="">
                        <p class="text-center name"><span class="underline-red">Ferrari FXX K</span></p>
                        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis,
                            dolor, numquam omnis possimus eveniet amet saepe molestias, quod nihil unde libero officiis
                            illum odio enim! Doloremque accusantium et sequi sit.</p>
                    </div>
                    <div class="card">
                        <img src="../assets/cars/S/Icona-Vulcano-Titanium.webp" alt="">
                        <p class="text-center name"><span class="underline-red">Icona Vulcano Titanium</span></p>
                        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis,
                            dolor, numquam omnis possimus eveniet amet saepe molestias, quod nihil unde libero officiis
                            illum odio enim! Doloremque accusantium et sequi sit.</p>
                    </div>
                    <div class="card">
                        <img src="../assets/cars/S/Lamborghini-Centenario.webp" alt="">
                        <p class="text-center name"><span class="underline-red">Lamborghini Centenario</span></p>
                        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis,
                            dolor, numquam omnis possimus eveniet amet saepe molestias, quod nihil unde libero officiis
                            illum odio enim! Doloremque accusantium et sequi sit.</p>
                    </div>
                    <div class="card">
                        <img src="../assets/cars/S/Trion-Nemesis.webp" alt="">
                        <p class="text-center name"><span class="underline-red">Trion Nemesis</span></p>
                        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis,
                            dolor, numquam omnis possimus eveniet amet saepe molestias, quod nihil unde libero officiis
                            illum odio enim! Doloremque accusantium et sequi sit.</p>
                    </div>
                </div>
                <div class="button-section flex-center gap-2vw ptb-1vw">
                    <button class="btn">PREV</button>
                    <p id="info" class="second-title">a</p>
                    <button class="btn">NEXT</button>
                </div>
                <p class="title" id="index"></p>
            </div>

            <!-- Class A -->
            <p class="title">CLASS <span style="color:red">A</span></p>
            <div class="product-section-inner" id="classA">
                <div class="card-section flex-center carousel">
                    <!-- Cards for Class A -->
                    <div class="card">
                        <img src="../assets/cars/A/Aston-Martin-Vulcan.webp" alt="">
                        <p class="text-center name"><span class="underline-red">Aston Martin Vulcan</span></p>
                        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis,
                            dolor, numquam omnis possimus eveniet amet saepe molestias, quod nihil unde libero officiis
                            illum odio enim! Doloremque accusantium et sequi sit.</p>
                    </div>
                    <div class="card">
                        <img src="../assets/cars/A/Ferrari-J50.webp" alt="">
                        <p class="text-center name"><span class="underline-red">Ferrari J50</span></p>
                        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis,
                            dolor, numquam omnis possimus eveniet amet saepe molestias, quod nihil unde libero officiis
                            illum odio enim! Doloremque accusantium et sequi sit.</p>
                    </div>
                    <div class="card">
                        <img src="../assets/cars/A/Nissan-GT-R-Nismo.webp" alt="">
                        <p class="text-center name"><span class="underline-red">Nissan GT R Nismo</span></p>
                        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis,
                            dolor, numquam omnis possimus eveniet amet saepe molestias, quod nihil unde libero officiis
                            illum odio enim! Doloremque accusantium et sequi sit.</p>
                    </div>
                    <div class="card">
                        <img src="../assets/cars/A/Nio-EP9.webp" alt="">
                        <p class="text-center name"><span class="underline-red">Nio EP9</span></p>
                        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis,
                            dolor, numquam omnis possimus eveniet amet saepe molestias, quod nihil unde libero officiis
                            illum odio enim! Doloremque accusantium et sequi sit.</p>
                    </div>
                </div>
                <div class="button-section flex-center gap-2vw ptb-1vw">
                    <button class="btn">PREV</button>
                    <p id="info" class="second-title">a</p>
                    <button class="btn">NEXT</button>
                </div>
                <p class="title" id="index"></p>
            </div>

            <!-- Class B -->
            <p class="title">CLASS <span style="color:blue">B</span></p>
            <div class="product-section-inner" id="classB">
                <div class="card-section flex-center carousel">
                    <!-- Cards for Class B -->
                    <div class="card">
                        <img src="../assets/cars/B/Aston-Martin-DB11.webp" alt="">
                        <p class="text-center name"><span class="underline-red">Aston Martin DB11</span></p>
                        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis,
                            dolor, numquam omnis possimus eveniet amet saepe molestias, quod nihil unde libero officiis
                            illum odio enim! Doloremque accusantium et sequi sit.</p>
                    </div>
                    <div class="card">
                        <img src="../assets/cars/B/Exotic-Rides-W70.webp" alt="">
                        <p class="text-center name"><span class="underline-red">Exotic Rides W70</span></p>
                        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis,
                            dolor, numquam omnis possimus eveniet amet saepe molestias, quod nihil unde libero officiis
                            illum odio enim! Doloremque accusantium et sequi sit.</p>
                    </div>
                    <div class="card">
                        <img src="../assets/cars/B/Jaguar-F-Type-SVR.webp" alt="">
                        <p class="text-center name"><span class="underline-red">Jaguar F-Type SVR</span></p>
                        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis,
                            dolor, numquam omnis possimus eveniet amet saepe molestias, quod nihil unde libero officiis
                            illum odio enim! Doloremque accusantium et sequi sit.</p>
                    </div>
                    <div class="card">
                        <img src="../assets/cars/B/Porsche-911-GTS-Coupe.webp" alt="">
                        <p class="text-center name"><span class="underline-red">Porsche 911 GTS Coupe</span></p>
                        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis,
                            dolor, numquam omnis possimus eveniet amet saepe molestias, quod nihil unde libero officiis
                            illum odio enim! Doloremque accusantium et sequi sit.</p>
                    </div>
                </div>
                <div class="button-section flex-center gap-2vw ptb-1vw">
                    <button class="btn">PREV</button>
                    <p id="info" class="second-title">a</p>
                    <button class="btn">NEXT</button>
                </div>
                <p class="title" id="index"></p>
            </div>

            <!-- Class C -->
            <p class="title">CLASS <span style="color:green">C</span></p>
            <div class="product-section-inner" id="classC">
                <div class="card-section flex-center carousel">
                    <!-- Cards for Class C -->
                    <div class="card">
                        <img src="../assets/cars/C/BMW-30-CSL-Hommage.webp" alt="">
                        <p class="text-center name"><span class="underline-red">BMW 30 CSL Hommage</span></p>
                        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis,
                            dolor, numquam omnis possimus eveniet amet saepe molestias, quod nihil unde libero officiis
                            illum odio enim! Doloremque accusantium et sequi sit.</p>
                    </div>
                    <div class="card">
                        <img src="../assets/cars/C/Dodge-Challenger-SRT8.webp" alt="">
                        <p class="text-center name"><span class="underline-red">Dodge Challenger SRT8</span></p>
                        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis,
                            dolor, numquam omnis possimus eveniet amet saepe molestias, quod nihil unde libero officiis
                            illum odio enim! Doloremque accusantium et sequi sit.</p>
                    </div>
                    <div class="card">
                        <img src="../assets/cars/C/Mercedes-Benz-Amg-GT-S.webp" alt="">
                        <p class="text-center name"><span class="underline-red">Mercedes Benz Amg GT S</span></p>
                        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis,
                            dolor, numquam omnis possimus eveniet amet saepe molestias, quod nihil unde libero officiis
                            illum odio enim! Doloremque accusantium et sequi sit.</p>
                    </div>
                    <div class="card">
                        <img src="../assets/cars/C/Lotus-Evora-Sport-410.webp" alt="">
                        <p class="text-center name"><span class="underline-red">Lotus Evora Sport 410</span></p>
                        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis,
                            dolor, numquam omnis possimus eveniet amet saepe molestias, quod nihil unde libero officiis
                            illum odio enim! Doloremque accusantium et sequi sit.</p>
                    </div>
                </div>
                <div class="button-section flex-center gap-2vw ptb-1vw">
                    <button class="btn">PREV</button>
                    <p id="info" class="second-title">a</p>
                    <button class="btn">NEXT</button>
                </div>
                <p class="title" id="index"></p>
            </div>

            <!-- Class D -->
            <p class="title">CLASS <span style="color:brown">D</span></p>
            <div class="product-section-inner" id="classD">
                <div class="card-section flex-center carousel">
                    <!-- Cards for Class D -->
                    <div class="card">
                        <img src="../assets/cars/D/Lotus-Emira.webp" alt="">
                        <p class="text-center name"><span class="underline-red">Lotus Emira</span></p>
                        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis,
                            dolor, numquam omnis possimus eveniet amet saepe molestias, quod nihil unde libero officiis
                            illum odio enim! Doloremque accusantium et sequi sit.</p>
                    </div>
                    <div class="card">
                        <img src="../assets/cars/D/Mitsubishi-Lancer-Evolution.webp" alt="">
                        <p class="text-center name"><span class="underline-red">Mitsubishi Lancer Evolution</span></p>
                        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis,
                            dolor, numquam omnis possimus eveniet amet saepe molestias, quod nihil unde libero officiis
                            illum odio enim! Doloremque accusantium et sequi sit.</p>
                    </div>
                    <div class="card">
                        <img src="../assets/cars/D/Porsche-718-Cayman.webp" alt="">
                        <p class="text-center name"><span class="underline-red">Porsche 718 Cayman</span></p>
                        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis,
                            dolor, numquam omnis possimus eveniet amet saepe molestias, quod nihil unde libero officiis
                            illum odio</p>
                    </div>
                    <div class="card">
                        <img src="../assets/cars/D/Renault-Dezir.webp" alt="">
                        <p class="text-center name"><span class="underline-red">Renault Dezir</span></p>
                        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis,
                            dolor, numquam omnis possimus eveniet amet saepe molestias, quod nihil unde libero officiis
                            illum odio enim! Doloremque accusantium et sequi sit.</p>
                    </div>
                </div>
                <div class="button-section flex-center gap-2vw ptb-1vw">
                    <button class="btn">PREV</button>
                    <p id="info" class="second-title">a</p>
                    <button class="btn">NEXT</button>
                </div>
                <p class="title" id="index"></p>
            </div>

        </div>
    </div>




    <footer class="footer-container">
        <div id="extend-footer"></div>
    </footer>


</body>
<script src="../js/products.js"></script>
<script src="../js/global.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        extend('components/navbar.html', 'extend-navbar', 'products');
        extend('components/footer.html', 'extend-footer', 'products');
    });
</script>

</html>